---
layout: base
---

.row
  .span8
    .page-header
      %h3 JReadline
      %p JReadline is a Java library that provides an API which allow the programmer to write command-based programs in a terminal-independent manner. JReadline support most GNU Readline features.

    .step
      %h2 Features:
      %ul
        %li Line editing
        %li History (search, persistence)
        %li Completion
        %li Masking
        %li Undo and Redo
        %li Paste buffer
        %li Emacs and Vi editing mode
        %li Support POSIX OS's and Windows
        %li Support out and error streams
        %li Redirect
        %li.last Pipeline

      %p - and its very configurable

    -#.step
      -#%h2 some headling2 alskdfjaølj 
      -#%p some text....

  -#.span4
    -#.hero-unit
      -#%p
        -#This site is created with
        -#%a{:href=>'http://awestruct.org'} awestruct
      -#%p
        -#How cool is that?

    -#%section
      -#%h2 About
      -#%p
        -#asldj asldkfj asldfkj 
    -#%section
      -#%h2 Goal
      -#%p
        -#the goal is to...
.row
  .span8
    %section
      %h2 News
      %span yay, we're online with the help of 
      %a{:href=>'http://awestruct.org'} awestruct 
      %span . More info/docs to come in the near future...

