---
layout: extensions
---

%h1 JReadline Extensions
%br
JReadline has a separate extension project which allow developers to pick different programs and commands to use in their application.
%br
Extensions:
%ul
  %li more
  %li less
  %li man
  %li +++

