 ---
layout: base
---
:javascript
  $(document).ready(function() {
    var pathname = window.location.pathname;
    console.log(pathname);
    $("body > .navbar a[href='/extensions/index.html']").closest("li").addClass("active");
    $("body > .content ul.nav a[href='" + pathname + "']").closest("li").addClass("active");
  });


.container-fluid
  .row-fluid   
    .span2
      %ul.nav.nav-list
        %li.nav-header Extensions

    .span10 
      ~ content
