---
layout: docs
---

%h2 Æsh Introduction
%br
The easiest way to get going with Æsh is to read the <a href="/docs/base/">Getting started</a> guide. 
%p
  To test out a simple example provided in Æsh, you can run the gradle command: <kbd>gradle installApp</kbd> and then run the start scripts located here: <kbd>build/install/aesh/bin</kbd>.
%p
If you are using a program that is built on Æsh and want to know more about editing and functionality we recommend reading <a href="/docs/base/editingmode">Editing</a> and <a href="/docs/base/redirection">Redirection</a>.
%p
%p
%h3 Æsh Documentation
%p
This is just the beginning of Æsh documentation so please be patient. If you have ideas for documentation or find certain areas lacking, do not hesitate to contact us and help out.
%p
%p
The documentation is written in Textile, which is a lightweight markup language. 
%br
Follow these steps to conribute documentation:
%ol
  %li Clone http://github.com/aeshell/aesh.github.com on GitHub.
  %li Add a new .textile file in one of the sub directories of the docs directory. 
  %li Push the empty Textile file to your GitHub repository.
  %li Use the GitHub Textile editor to write your docs and preview changes. Of course you can use your own editor if you prefer so.

The Textile Wikipedia 
%a{ :href => 'http://en.wikipedia.org/wiki/Textile_(markup_language)'} page 
gives a good introduction about the markup language.
